<footer class="bg-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-center">
              <ul class="list-inline">
                  <!-- Icono de Twitter -->
                  <li class="list-inline-item mx-2">
                      <a href="#" class="text-dark">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x text-primary"></i>
                              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  <!-- Icono de Facebook -->
                  <li class="list-inline-item mx-2">
                      <a href="#" class="text-dark">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x text-primary"></i>
                              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  <!-- Icono de GitHub -->
                  <li class="list-inline-item mx-2">
                      <a href="#" class="text-dark">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x text-primary"></i>
                              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
              </ul>
              <!-- Texto de Copyright -->
              <p class="text-muted small mt-3">&copy; Task Management 2024</p>
          </div>
      </div>
  </div>
</footer>