<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">Task Management</a>
    
    <!-- Botón de colapso para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:task_list' %}">Tasks list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:task_create' %}">Create new task</a>
          </li>
          <li class="nav-item">
            <form method="POST" action="{% url 'users:logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link" style="border:none; background:none">
                Logout
              </button>
            </form>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
          </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>