{% extends 'layouts/base.html' %}


{% load static %}

{% block title %}
    Task list
{% endblock title %}

{% block content %}
  <div class="container mt-5 pt-4">
    <h1 class="text-center mb-4">Hello, welcome to your Task list, {{ user.first_name|capfirst }}</h1>

    <!-- Task list -->
    <div class="row">
      {% for task in tasks %}
        <div class="col-md-6 col-lg-4 mb-4">
          <!-- Apply a conditional class for completed tasks -->
          <div class="card shadow-sm h-100 {% if task.status == 'completed' %}bg-light text-muted border-success{% endif %}">
            <div class="card-body">
              <h5 class="card-title">{{ task.title|capfirst }}</h5>
              <p class="card-text">
                <strong>Priority:</strong> {{ task.get_priority_display }}<br>
                <strong>Status:</strong> {{ task.get_status_display }}<br>
                <strong>Due Date:</strong> {{ task.due_date|date:"j \d\e F \d\e\l Y"|capfirst }}
              </p>
              <div class="d-flex justify-content-between">
                <a href="{% url 'tasks:task_detail' task.pk %}" class="btn btn-primary btn-sm">View</a>
                <a href="{% url 'tasks:task_update' task.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm delete-task-btn" data-task-id="{{ task.pk }}" data-task-title="{{ task.title }}">Delete</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include "layouts/partials/delete_confirm_modal.html" %}

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'tasks/js/delete_task.js' %}"></script>
{% endblock extra_js %}